{% extends "allfurnitures/layout.html" %}
{% load static %}
{% block body %}
    <div class="card" id="cards">
      <h3>{{ furniture.name }}</h3>
        <span class="image-container">
            <img src="{{ furniture.image.url }}" alt="{{ furniture.name }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" class="heart-svg" id="wishlist">
                <path d="M12 21.35l-1.45-1.32C5.4 16.53 2 13.36 2 10c0-2.76 2.24-5 5-5 2.05 0 3.9.99 5 2.51C12.1 5.99 13.95 5 16 5c2.76 0 5 2.24 5 5 0 3.36-3.4 6.53-8.55 10.03L12 21.35z" fill="{{ color }}" />
            </svg>
        </span>
        <p>Price: ₹{{ furniture.price }}/-</p>
        <p>Category: {{ furniture.category }}</p>
        <p>Created by: {{ furniture.user }}</p>
        <p>Description: {{ furniture.description }}</p>
        <div>Rating: <div class="star-rating" >
            <div class="stars" id="star_rating" data-rating="{{ furniture.rating }}">
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
            </div>
          </div>
          
        </div>
        <p>Created on: {{ furniture.date }}</p>
        <div id="comments_page">
            <h3>Comments:</h3>
            {% for comment in comments %}
                <p>{{ comment.user }}: {{ comment.comment }}</p>
            {% endfor %}
            <nav aria-label="Page navigation example">
                <ul class="pagination  d-flex justify-content-center ">
                    {% if comments.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ comments.previous_page_number }}">Previous</a></li>
                  {% endif %}
                    {% if comments.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ comments.next_page_number }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <span>
        <label for="comments" style="padding-bottom: 5% ;">Add Comment:</label>
        <span>
        <textarea id="comments" name="comments" rows="4" cols="50">
        </textarea>
        <button id="comment_button" data-id="{{ furniture.id }}">Submit</button>
        </span>
        </span>
    </div>
    <br>
    
    <div id="options">
        {% csrf_token %}
        <button id="cart_button"  data-id="{{ furniture.id }} ">{{ change_button }}</button>
        <button id="buy_button"  data-id="{{ furniture.id }}">Buy Now</button>
    </div>
    <div id="show_cards"></div>
{% endblock %}

{% block script %}
<link href="{% static 'allfurnitures/furniture.css' %}" rel="stylesheet" >
<script src="{% static 'allfurnitures/furniture.js' %}"></script>
{% endblock %}