{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AllFurnitures</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-1.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="{% static 'allfurnitures/styles.css' %}" rel="stylesheet">
    <script src="{% static 'allfurnitures/index.js' %}" ></script>
    {% block script %}
    {% endblock %}
</head>
<body>
    <h2>ALL FURNITURES🛋️</h2>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}. You are logged in.</p>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ><a class="nav-link" href="{% url 'index' %}">🏠Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'yourfurniture' %}">your furniture🪵</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'categories' %}">👉Categories</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'Cart' %}">🛒Cart</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'wishlist' %}">❤️Wishlist</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'Account' %}">😎Account</a></li>
            <li class="nav-item"><a  class="nav-link" href="{% url 'logout' %}" >Logout</a></li>
        </ul>
        </nav>
     {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
    {% endif %}
    {% block body %} 
    {% endblock %}
</body>
</html>