{% extends "allfurnitures/layout.html" %}
{% load static %}
{% block body %}
    <div class="card" id="cards">
        {% for furniture in wishlists %}
        <div class="card_body"   data-name="{{ furniture.name }}"  data-custom-property1="{{ furniture.description }}" data-custom-property2="{{ furniture.category }}" data-custom-property3="{{ furniture.date }}" >
            <h3>{{ furniture.name }}</h3>
            <span>
                <img src="{{ furniture.image.url }}" alt="{{ furniture.name }}">
            </span>
            <p>Price: ₹{{ furniture.price }}/-</p>
            <p>Created by: {{ furniture.user }}</p>
            <div>Rating: <div class="star-rating" >
                <div class="stars" id="star_rating" data-rating="{{ furniture.rating }}">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
              </div></div>
            <a href="{% url 'furnituredetails' furniture.id %}"  class="btn btn-primary" >View</a>
        </div>
        {% endfor %}
    </div>
    <div id="show_cards">  
    </div>
{% endblock %}